<div class="container">
	<div class="row">
		<div class="col-xs-6 col-sm-3">
			<div class="hat-list-item">
				
			</div>
		</div>
		<div class="col-xs-6 col-sm-3">
			테스트
		</div>
		<div class="col-xs-6 col-sm-3">
			테스트
		</div>
	</div>
</div>