<div class="container">
	<div class="row">
		<% @hats.each do |hat| %>
			<div class="col-xs-6 col-sm-3">
				<div class="hat-list-item">
					<%= link_to hat_path(hat) do %>
						<%= image_tag hat.photo.url(:thumb), class: 'img-responsive' %>
					<% end %>
					<h4><%= link_to hat.name, hat_path(hat)%></h4>
				</div>
			</div>
		<% end %>
	</div>
</div>