<div class="container">
	<div class="row">
		<div class="col-xs-6 col-xs-offset-3">
			<div class="hat-detail">
				<%= image_tag @hat.photo.url, class: 'img-responsive' %>
				<h2><%= @hat.name %></h2>
				<% if @hat.description.presence %>
					<p><%= @hat.description.gsub("\n", "<br>").html_safe %></p>
				<% end %>
			</div>
		</div>
	</div>
</div>